.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px ;
}

.header_left{
    display: flex;
    align-items: center;
    border-radius: 30px;
    color: grey;
    background-color: white;
    padding: 10px;
    height: 20px;
}

.header_left > input{
    border: none;
    width: 100%;
    min-width: 100px;
}

.header_right{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    height:30px;
    min-width:100px
}

.header_right > h4{
    margin-left: 10px;
}